*{
  margin: 0;
  padding: 0;}
  body{
    background-color: #358597;
    
}

.App{
  width: 100vw;
  height: 100vh;
display: flex;
flex-direction: column;
display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 55px;
}

.board{
  width: 400px;
  height: 400px;
  background-color:cadetblue;
 border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
.row{
  flex:33%;
  display: flex;
  flex-direction: row;
}

.square{
  flex:33%;
  height: 100%;
  border: 2px solid black;
  display: grid;
  place-items: center;
 font-size: 30px;
 color: black;
 cursor: pointer;
}
.square:active{
background-color:cornflowerblue;}